name: Keep Website Alive

on:
  schedule:
    - cron: "*/5 * * * *"   # mỗi 5 phút
  workflow_dispatch:        # cho phép chạy thủ công

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping website
        run: |
          curl -L -s -o /dev/null -w "%{http_code}\n" https://nbthinh.github.io/tinhte-report/